@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

body {
  min-height: 100vh;
  background: #fff;
  background-blend-mode: soft-light;
}

body::-webkit-scrollbar {
  width: 0.50rem;
}

body::-webkit-scrollbar-track {
  background: #e06100;
}

body::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 8px;
}

body::-webkit-scrollbar-button {
  background: #e06100;
}

ol, ul, dl {
  margin: 0 !important;
  padding: 0 !important;
}

main {
  display: flex;
  overflow-x: hidden;
}

main .nav-container {
  position: fixed;
  z-index: 99999;
  height: 100vh;
  transition: all ease-in 0.3s;
}

@media only screen and (max-width: 599px) {
  main .nav-container {
    width: 60px;
  }
}

@media only screen and (min-width: 600px) {
  main .nav-container {
    width: 260px;
  }
  main .nav-container.min {
    width: 60px;
  }
}

main .nav-container.expand {
  width: 260px;
}

main .nav-container .navigation {
  position: relative;
  width: 100%;
  height: 100%;
  background: #e06100;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 600px) {
  main .nav-container .navigation {
    padding: 2.5rem 0;
  }
}

@media only screen and (min-width: 960px) {
  main .nav-container .navigation {
    padding: 3rem 0;
  }
}

main .nav-container .navigation ul li {
  list-style: none;
}

main .nav-container .navigation ul li a {
  display: block;
  height: 40px;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

@media only screen and (min-width: 600px) {
  main .nav-container .navigation ul li a {
    height: 60px;
  }
}

main .nav-container .navigation ul li a:hover {
  background: #ff872b;
}

main .nav-container .navigation ul li a span {
  display: block;
  text-align: center;
  line-height: 40px;
}

@media only screen and (min-width: 600px) {
  main .nav-container .navigation ul li a span {
    line-height: 60px;
  }
}

main .nav-container .navigation ul li a .icon {
  min-width: 60px;
}

main .nav-container .navigation ul li a .icon .fas, main .nav-container .navigation ul li a .icon .fab {
  font-size: 24px;
}

main .nav-container .navigation ul li a .title {
  padding-left: 8px;
  white-space: nowrap;
}

main .nav-container .navigation ul li a .title.pr-3 {
  padding-right: 20px;
}

main .nav-container .toggle {
  display: none;
  position: absolute;
  top: calc(50% - 7px);
  right: -20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #e06100;
  border: 5px solid #000;
  border-radius: 50%;
  transition: all ease-in 1s;
}

main .nav-container .toggle:hover {
  background: #ff872b;
}

@media only screen and (min-width: 600px) {
  main .nav-container .toggle {
    display: block;
  }
}

main .nav-container .toggle.min::before {
  content: '\f054';
}

main .nav-container .toggle::before {
  content: '\f053';
  font-family: 'fontAwesome';
  position: absolute;
  width: 100%;
  line-height: 40px;
  height: 100%;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

main .main-content {
  margin-left: 60px;
  width: 100%;
  min-height: 100vh;
  transition: all ease-in 0.3s;
}

main .main-content .section {
  min-height: 100vh !important;
  padding: 3rem 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  main .main-content .section {
    padding: 3rem 22px;
  }
}

@media only screen and (min-width: 960px) {
  main .main-content .section {
    padding: 3.5rem 25px;
  }
}

@media only screen and (min-width: 1280px) {
  main .main-content .section {
    padding: 3rem 30px;
  }
}

main .main-content .section .sec-title {
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  main .main-content .section .sec-title {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 960px) {
  main .main-content .section .sec-title {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 1280px) {
  main .main-content .section .sec-title {
    font-size: 4.5rem;
  }
}

main .main-content .section.reveal {
  position: relative;
  transition: all 1s ease-out;
  transform: translateY(150px);
  opacity: 0;
}

main .main-content .section.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

main .main-content #about {
  position: relative;
}

main .main-content #about .cm-card {
  position: absolute;
  z-index: 4;
  top: calc(50% - 210px);
  transform: translateX(-50%);
  left: 50%;
  border-radius: 15px;
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 600px;
  height: 400px;
}

@media only screen and (min-width: 600px) {
  main .main-content #about .cm-card {
    left: 50%;
  }
}

@media only screen and (min-width: 1280px) {
  main .main-content #about .cm-card {
    transform: translateX(0);
    left: 100px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

main .main-content #about .cm-card img {
  display: block;
  position: relative;
  left: 0;
  margin: auto;
  width: 250px;
  height: auto;
  border-radius: 50% !important;
  border: 10px solid #e06100;
}

@media only screen and (min-width: 600px) {
  main .main-content #about .cm-card img {
    width: 250px;
  }
}

@media only screen and (min-width: 960px) {
  main .main-content #about .cm-card img {
    width: 320px;
  }
}

main .main-content #about .cm-card .cm-caption {
  position: relative;
  margin-left: 0;
  margin-top: 15px;
  width: auto;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}

@media only screen and (min-width: 960px) {
  main .main-content #about .cm-card .cm-caption {
    justify-content: center;
    margin-left: 0px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1280px) {
  main .main-content #about .cm-card .cm-caption {
    margin-left: 50px;
  }
}

main .main-content #about .cm-card .cm-caption h1, main .main-content #about .cm-card .cm-caption span {
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  color: #e06100;
  font-family: 'Inter', sans-serif;
}

@media only screen and (min-width: 600px) {
  main .main-content #about .cm-card .cm-caption h1, main .main-content #about .cm-card .cm-caption span {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1280px) {
  main .main-content #about .cm-card .cm-caption h1, main .main-content #about .cm-card .cm-caption span {
    font-size: 6rem;
  }
}

main .main-content #about .cm-card .cm-caption h6 {
  text-transform: uppercase;
  font-size: 0.8rem;
}

@media only screen and (min-width: 600px) {
  main .main-content #about .cm-card .cm-caption h6 {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 960px) {
  main .main-content #about .cm-card .cm-caption h6 {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1280px) {
  main .main-content #about .cm-card .cm-caption h6 {
    font-size: 1.8rem;
  }
}

main .main-content #about .cm-card .cm-caption .files {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  main .main-content #about .cm-card .cm-caption .files {
    justify-content: center;
  }
}

main .main-content #about .cm-card .cm-caption .files a {
  font-size: 0.7rem;
  display: block;
  margin: 3px 0;
  color: #fff;
  text-decoration: none;
  padding: 2px 15px;
  background: #e06100 !important;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media only screen and (min-width: 600px) {
  main .main-content #about .cm-card .cm-caption .files a {
    padding: 5px 20px;
    margin: 5px 10px;
    font-size: 0.85rem;
    border-radius: 15px;
  }
}

@media only screen and (min-width: 960px) {
  main .main-content #about .cm-card .cm-caption .files a {
    padding: 8px 30px;
    margin: 5px 10px;
    font-size: 1.2rem;
    border-radius: 25px;
  }
}

main .main-content #about .stars {
  background: #000 url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png") repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

main .main-content #about .twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  animation: move-background 70s linear infinite;
}

main .main-content #about .clouds {
  width: 10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  animation: move-background 150s linear infinite;
}

main .main-content #about img {
  height: 70vh;
  width: 70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}

main .main-content #skills {
  position: relative;
}

main .main-content #skills .skill-container {
  position: relative;
  max-width: 900px;
  margin: auto;
}

main .main-content #skills .skill-container .skill {
  width: 100%;
  margin: 1.2rem 0;
  padding: 1.6rem 1.5rem;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media only screen and (min-width: 600px) {
  main .main-content #skills .skill-container .skill {
    margin: 1.5rem 0;
    padding: 1.8rem 4rem;
  }
}

@media only screen and (min-width: 960px) {
  main .main-content #skills .skill-container .skill {
    margin: 1.8rem 0;
    padding: 1.8rem 12rem;
  }
}

main .main-content #skills .skill-container .skill .skill-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

@media only screen and (min-width: 600px) {
  main .main-content #skills .skill-container .skill .skill-title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 960px) {
  main .main-content #skills .skill-container .skill .skill-title {
    margin-bottom: 1.8rem;
    font-size: 2rem;
  }
}

main .main-content #skills .skill-container .skill h4 {
  font-size: 1.4rem;
  margin-bottom: 0 !important;
}

@media only screen and (min-width: 600px) {
  main .main-content #skills .skill-container .skill h4 {
    margin-bottom: 0rem;
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 960px) {
  main .main-content #skills .skill-container .skill h4 {
    margin-bottom: 0rem;
    font-size: 1.6rem;
  }
}

main .main-content #skills .skill-container .skill .progress-bar {
  background-color: #e06100 !important;
}

main .main-content #education .educ-timeline, main .main-content #workexp .educ-timeline {
  max-width: 900px;
  margin: auto;
}

main .main-content #education .educ-timeline .educ-card, main .main-content #workexp .educ-timeline .educ-card {
  padding: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  main .main-content #education .educ-timeline .educ-card, main .main-content #workexp .educ-timeline .educ-card {
    padding: 25px;
  }
}

@media only screen and (min-width: 960px) {
  main .main-content #education .educ-timeline .educ-card, main .main-content #workexp .educ-timeline .educ-card {
    paadding: 10px;
  }
}

main .main-content #education .educ-timeline .educ-card .cm-icon, main .main-content #workexp .educ-timeline .educ-card .cm-icon {
  width: 80px;
  height: 80px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #e06100;
  color: #fff;
}

@media only screen and (min-width: 960px) {
  main .main-content #education .educ-timeline .educ-card .cm-icon, main .main-content #workexp .educ-timeline .educ-card .cm-icon {
    width: 100px;
    height: 100px;
    padding: 40px;
  }
}

main .main-content #education .educ-timeline .educ-card .cm-icon .fa, main .main-content #education .educ-timeline .educ-card .cm-icon .fas, main .main-content #education .educ-timeline .educ-card .cm-icon .fab, main .main-content #workexp .educ-timeline .educ-card .cm-icon .fa, main .main-content #workexp .educ-timeline .educ-card .cm-icon .fas, main .main-content #workexp .educ-timeline .educ-card .cm-icon .fab {
  font-size: 2rem;
}

@media only screen and (min-width: 960px) {
  main .main-content #education .educ-timeline .educ-card .cm-icon .fa, main .main-content #education .educ-timeline .educ-card .cm-icon .fas, main .main-content #education .educ-timeline .educ-card .cm-icon .fab, main .main-content #workexp .educ-timeline .educ-card .cm-icon .fa, main .main-content #workexp .educ-timeline .educ-card .cm-icon .fas, main .main-content #workexp .educ-timeline .educ-card .cm-icon .fab {
    font-size: 3rem;
  }
}

main .main-content #education .educ-timeline .educ-card .acad-info, main .main-content #workexp .educ-timeline .educ-card .acad-info {
  padding: 0 25px;
}

main .main-content #education .educ-timeline .educ-card .acad-info h6, main .main-content #workexp .educ-timeline .educ-card .acad-info h6 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
  color: #e06100;
}

@media only screen and (min-width: 960px) {
  main .main-content #education .educ-timeline .educ-card .acad-info h6, main .main-content #workexp .educ-timeline .educ-card .acad-info h6 {
    margin-bottom: 5px;
    font-size: 1.5rem;
  }
}

main .main-content #education .educ-timeline .educ-card .acad-info .acad-level, main .main-content #workexp .educ-timeline .educ-card .acad-info .acad-level {
  font-size: 0.8rem;
  font-weight: 700;
  color: #232323;
}

@media only screen and (min-width: 960px) {
  main .main-content #education .educ-timeline .educ-card .acad-info .acad-level, main .main-content #workexp .educ-timeline .educ-card .acad-info .acad-level {
    font-size: 1rem;
  }
}

main .main-content #education .educ-timeline .educ-card .acad-info p, main .main-content #workexp .educ-timeline .educ-card .acad-info p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: #232323;
}

@media only screen and (min-width: 960px) {
  main .main-content #education .educ-timeline .educ-card .acad-info p, main .main-content #workexp .educ-timeline .educ-card .acad-info p {
    font-size: 1rem;
  }
}

main .main-content #cert .cert-container, main .main-content #projects .cert-container {
  position: relative;
  padding: 1rem 0;
  max-width: 1400px;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  main .main-content #cert .cert-container, main .main-content #projects .cert-container {
    padding: 3rem 0;
  }
}

@media only screen and (min-width: 960px) {
  main .main-content #cert .cert-container, main .main-content #projects .cert-container {
    padding: 5rem 0;
  }
}

main .main-content #cert .cert-container details, main .main-content #projects .cert-container details {
  display: block !important;
  width: 100%;
}

main .main-content #cert .cert-container details summary, main .main-content #projects .cert-container details summary {
  display: block !important;
}

main .main-content #cert .cert-container .award-container, main .main-content #projects .cert-container .award-container {
  display: block;
  position: relative;
  cursor: pointer;
  min-height: 280px;
}

main .main-content #cert .cert-container .award-container:hover .img-description, main .main-content #projects .cert-container .award-container:hover .img-description {
  visibility: visible;
  opacity: 1;
}

main .main-content #cert .cert-container .award-container .award-img, main .main-content #projects .cert-container .award-container .award-img {
  height: 100%;
  width: 100%;
}

main .main-content #cert .cert-container .award-container .img-description, main .main-content #projects .cert-container .award-container .img-description {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(224, 97, 0, 0.95);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in 0.3s;
  padding: 30px;
}

@media only screen and (min-width: 600px) {
  main .main-content #cert .cert-container .award-container .img-description, main .main-content #projects .cert-container .award-container .img-description {
    padding: 35px;
  }
}

@media only screen and (min-width: 960px) {
  main .main-content #cert .cert-container .award-container .img-description, main .main-content #projects .cert-container .award-container .img-description {
    padding: 40px;
  }
}

main .main-content #cert .cert-container .award-container .img-description h5, main .main-content #projects .cert-container .award-container .img-description h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}

@media only screen and (min-width: 600px) {
  main .main-content #cert .cert-container .award-container .img-description h5, main .main-content #projects .cert-container .award-container .img-description h5 {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 960px) {
  main .main-content #cert .cert-container .award-container .img-description h5, main .main-content #projects .cert-container .award-container .img-description h5 {
    font-size: 1.8rem;
  }
}

main .main-content #cert .cert-container .award-container .img-description span, main .main-content #projects .cert-container .award-container .img-description span {
  display: block;
  font-size: 0.8rem;
  margin: 5px;
  text-decoration: underline;
}

@media only screen and (min-width: 600px) {
  main .main-content #cert .cert-container .award-container .img-description span, main .main-content #projects .cert-container .award-container .img-description span {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 960px) {
  main .main-content #cert .cert-container .award-container .img-description span, main .main-content #projects .cert-container .award-container .img-description span {
    font-size: 0.8rem;
  }
}

main .main-content #cert .cert-container .award-container .img-description h6, main .main-content #projects .cert-container .award-container .img-description h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

@media only screen and (min-width: 600px) {
  main .main-content #cert .cert-container .award-container .img-description h6, main .main-content #projects .cert-container .award-container .img-description h6 {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 960px) {
  main .main-content #cert .cert-container .award-container .img-description h6, main .main-content #projects .cert-container .award-container .img-description h6 {
    font-size: 2.2rem;
  }
}

main .main-content #cert .cert-container .award-container .img-description p, main .main-content #projects .cert-container .award-container .img-description p {
  font-weight: 400;
  text-align: justify;
}

main .main-content #cert .cert-container .award-container .img-description small, main .main-content #projects .cert-container .award-container .img-description small {
  font-weight: 400;
  text-align: justify;
}

@keyframes showImage {
  from {
    opacity: 0;
    right: -100px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  position: relative;
}

.timeline__event {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  margin: 20px 0;
  border-radius: 6px;
  align-self: center;
  width: 50vw;
}

.timeline__event:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.timeline__event:nth-child(2n + 1) .timeline__event__date {
  border-radius: 0 6px 6px 0;
}

.timeline__event:nth-child(2n + 1) .timeline__event__content {
  border-radius: 6px 0 0 6px;
}

.timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #ffd9bd;
  position: absolute;
  top: 0%;
  left: 50%;
  right: auto;
  z-index: -1;
  transform: translateX(-50%);
  animation: fillTop 2s forwards 4s ease-in-out;
}

.timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #ffd9bd;
  position: absolute;
  right: 0;
  z-index: -1;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
  animation: fillLeft 2s forwards 4s ease-in-out;
}

.timeline__event__title {
  font-size: 1.2rem;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 600;
  color: #e06100;
  letter-spacing: 1.5px;
}

.timeline__event__content {
  padding: 20px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  background: #fff;
  width: calc(40vw - 84px);
  border-radius: 0 6px 6px 0;
}

.timeline__event__date {
  color: #ffd9bd;
  font-size: 1.5rem;
  font-weight: 600;
  background: #e06100;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 20px;
  border-radius: 6px 0 0 6px;
}

.timeline__event__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e06100;
  padding: 20px;
  align-self: center;
  margin: 0 20px;
  background: #ffd9bd;
  border-radius: 100%;
  width: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 40px;
  height: 40px;
  position: relative;
}

.timeline__event__icon i {
  font-size: 32px;
}

.timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #ffd9bd;
  position: absolute;
  top: 0%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  animation: fillTop 2s forwards 4s ease-in-out;
}

.timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #ffd9bd;
  position: absolute;
  left: 0%;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  animation: fillLeftOdd 2s forwards 4s ease-in-out;
}

.timeline__event__description {
  flex-basis: 60%;
}

.timeline__event--type2:after {
  background: #555ac0;
}

.timeline__event--type2 .timeline__event__date {
  color: #87bbfe;
  background: #555ac0;
}

.timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:before, .timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:after {
  background: #87bbfe;
}

.timeline__event--type2 .timeline__event__icon {
  background: #87bbfe;
  color: #555ac0;
}

.timeline__event--type2 .timeline__event__icon:before, .timeline__event--type2 .timeline__event__icon:after {
  background: #87bbfe;
}

.timeline__event--type2 .timeline__event__title {
  color: #555ac0;
}

.timeline__event--type3:after {
  background: #24b47e;
}

.timeline__event--type3 .timeline__event__date {
  color: #aff1b6;
  background-color: #24b47e;
}

.timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:before, .timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:after {
  background: #aff1b6;
}

.timeline__event--type3 .timeline__event__icon {
  background: #aff1b6;
  color: #24b47e;
}

.timeline__event--type3 .timeline__event__icon:before, .timeline__event--type3 .timeline__event__icon:after {
  background: #aff1b6;
}

.timeline__event--type3 .timeline__event__title {
  color: #24b47e;
}

.timeline__event:last-child .timeline__event__icon:before {
  content: none;
}

@media (max-width: 786px) {
  .timeline__event {
    flex-direction: column;
    align-self: center;
  }
  .timeline__event__content {
    width: 100%;
  }
  .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  .timeline__event__icon:before, .timeline__event__icon:after {
    display: none;
  }
  .timeline__event__date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline__event:nth-child(2n + 1) {
    flex-direction: column;
    align-self: center;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    margin: 0;
  }
}

@keyframes fillLeft {
  100% {
    right: 100%;
  }
}

@keyframes fillTop {
  100% {
    top: 100%;
  }
}

@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}
