
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');
$bgColor: #232323;
// $bgSecondary: #232323;
$bgSecondary: #e06100;
$bgSecondaryLight: rgb(255, 135, 43);
$bgWhite: #fff;
$bgBlack: #000;

// https://www.sliderrevolution.com/resources/css-animated-background/
// https://bgjar.com/simple-shiny
$transition-all: all ease-in 0.3s;
$transition-1m: all ease-in 1s;

@mixin for-xsmall {
	@media only screen and (max-width: 599px) {
	  @content;
	}
}

@mixin for-small {
	@media only screen and (min-width: 600px) {
	  @content;
	}
}

@mixin for-medium {
	@media only screen and (min-width: 960px) {
	  @content;
	}
}

@mixin for-large {
	@media only screen and (min-width: 1280px) {
	  @content;
	}
}

// Defaults
html{
	scroll-behavior: smooth;
	box-sizing: border-box;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
}

body{
	min-height: 100vh;
	// background: rgba(0,0,0,0.15) url('/images/Sprinkle.svg');
	background: $bgWhite;
	background-blend-mode: soft-light;
	// overflow: hidden;

	&::-webkit-scrollbar{
		width: 0.50rem;
	}

	&::-webkit-scrollbar-track{
		background: $bgSecondary;
	}

	&::-webkit-scrollbar-thumb{
		background: $bgWhite;
		border-radius: 8px;
	}

	&::-webkit-scrollbar-button{
		background: $bgSecondary;
	}
}

ol, ul, dl{
	margin: 0 !important;
	padding: 0 !important;
}


main{
	display: flex;
	overflow-x: hidden;
	.nav-container{
		position: fixed;
		z-index: 99999;
		height: 100vh;
		transition: $transition-all;
		@include for-xsmall(){
			width: 60px;
		}
		@include for-small(){
			width: 260px;
			&.min{
				width: 60px;
			}
		}
		&.expand{
			width: 260px;
		}
		
		
		.navigation{
			position: relative;
			width: 100%;
			height: 100%;
			background: $bgSecondary;
			overflow: hidden;
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
			transition: 0.5s;

			padding: 2rem 0;

			@include for-small(){
				padding: 2.5rem 0;
			}

			@include for-medium(){
				padding: 3rem 0;
			}

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			ul{
				li{
					list-style: none;
					a{
						display: block;
						height: 40px;

						@include for-small(){
							height: 60px;
						}
						width: 100%;
						display: flex;
						// align-items: center;
						text-decoration: none;
						color: $bgWhite;
						font-weight: 500;

						&:hover{
							background: $bgSecondaryLight;
						}

						span{
							display: block;
							text-align: center;
							line-height: 40px;

							@include for-small(){
								line-height: 60px;
							}
						}
						.icon{
							min-width: 60px;

							.fas, .fab{
								font-size: 24px;
							}
						}

						.title{
							padding-left: 8px;
							// Para di nag bbring down ung text
							white-space: nowrap;

							&.pr-3{
								padding-right: 20px
							}
						}
					}
				}
			}
		}
		.toggle{
			display: none;
			position: absolute;
			top: calc(50% - 7px);
			right: -20px;
			width: 50px;
			height: 50px;
			cursor: pointer;
			background: $bgSecondary;
			border: 5px solid $bgBlack;
			border-radius: 50%;
			// box-shadow: 3px 3px 6px -5px rgba(0,0,0,0.7); 
			transition: $transition-1m;

			&:hover{
				background: $bgSecondaryLight;
			}

			@include for-small(){
				display: block;
			}

			&.min::before{
				content: '\f054';
			}

			&::before{
				content: '\f053';
				font-family: 'fontAwesome';
				position: absolute;
				width: 100%;
				line-height: 40px;
				height: 100%;
				font-size: 24px;
				text-align: center;
				color: $bgWhite;
			}
		}

	}

	.main-content{
		margin-left: 60px;
		width: 100%;
		min-height: 100vh;
		transition: $transition-all;
		.section{
			min-height: 100vh !important;
			padding: 3rem 20px;

			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;

			@include for-small{
				padding: 3rem 22px;
			}
			@include for-medium(){
				padding: 3.5rem 25px;
			}
			@include for-large(){
				padding: 3rem 30px;
			}

			.sec-title{
				font-family: 'Inter', sans-serif;
				font-size: 2.5rem;
				font-weight: 900;
				text-align: center;

				@include for-small(){
					font-size: 3rem;
				}
				@include for-medium(){
					font-size: 3.5rem;
				}
				@include for-large(){
					font-size: 4.5rem;
				}
			}

			&.reveal{
				position: relative;
				transition: all 1s ease-out;
				transform: translateY(150px);
				opacity: 0;

				&.active{
					transform: translateY(0);
					opacity: 1;
				}
			}

		}

		#about{
			position: relative;
			.cm-card{
				position: absolute;
				z-index: 4;
				top: calc(50% - 210px);
				transform: translateX(-50%);
				left: 50%;

				border-radius: 15px;
				padding: 25px 50px;
				
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: auto;
				min-width: 600px;
				height: 400px;

				@include for-small(){
					left: 50%;
				}

				// @include for-medium(){
				// 	// transform: translateX(0);
				// 	left: 50%;
				// }

				@include for-large(){
					transform: translateX(0);
					left: 100px;
					flex-direction: row;
					justify-content: flex-start;
					align-items: flex-start;
				}

				img{
					display: block;
					position: relative;
					left: 0;
					margin: auto;
					width: 250px;
					height: auto;
					border-radius: 50% !important;
					border: 10px solid $bgSecondary;

					@include for-small(){
						width: 250px;
					}

					@include for-medium(){
						width: 320px;
					}
				}

				.cm-caption{
					position: relative;
					margin-left: 0;
					margin-top: 15px;
					width: auto;
					height: 100%;
					display: flex;
					flex-flow: column wrap;
					align-items: center;
					justify-content: flex-start;
					color: $bgWhite;

					@include for-medium(){
						justify-content: center;
						margin-left: 0px;
						margin-top: 0;
					}

					@include for-large(){
						margin-left: 50px;
					}

					h1, span{
						text-align: center;
						font-weight: 900;
						font-size: 2rem;
						color: $bgSecondary;
						
						font-family: 'Inter', sans-serif;

						@include for-small(){
							font-size: 4rem;
						}
						@include for-large(){
							font-size: 6rem;
						}
					}

					h6{
						text-transform: uppercase;
						font-size: 0.8rem;

						@include for-small(){
							font-size: 1.4rem;
						}

						@include for-medium(){
							font-size: 1.4rem;
						}
						@include for-large(){
							font-size: 1.8rem;
						}
					}
					.files{
						display: flex;
						justify-content: space-between;
						padding: 0 5px;
						width: 100%;

						@include for-small(){
							justify-content: center;
						}

						a{
							font-size: 0.7rem;
							display: block;
							margin: 3px 0;
							color: $bgWhite;
							text-decoration: none;
							padding: 2px 15px;
							background: $bgSecondary !important;
							border-radius: 10px;
							box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 

							@include for-small(){
								padding: 5px 20px;
								margin: 5px 10px;
								font-size: 0.85rem;
								border-radius: 15px;
							}

							@include for-medium(){
								padding: 8px 30px;
								margin: 5px 10px;
								font-size: 1.2rem;
								border-radius: 25px;
							}
						}
					}
				}
			}
			.stars {
				background: #000 url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png') repeat;
				position: absolute;
				 top: 0;
				 bottom: 0;
				 left: 0;
				 right: 0;
				 display: block;
				   z-index: 0;
			   }
			   
			   .twinkling{
				 width:10000px;
				 height: 100%;
				 background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
				 background-size: 1000px 1000px;
				   position: absolute;
				   right: 0;
				   top: 0;
				   bottom: 0;
				   z-index: 2;
				   
				   -moz-animation:move-background 70s linear infinite;
				 -ms-animation:move-background 70s linear infinite;
				 -o-animation:move-background 70s linear infinite;
				 -webkit-animation:move-background 70s linear infinite;
				 animation:move-background 70s linear infinite;
				 
			   }
			   
			   .clouds{
				 width:10000px;
				 height: 100%;
				 background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
				 background-size: 1000px 1000px;
				   position: absolute;
				   right: 0;
				   top: 0;
				   bottom: 0;
				   z-index: 3;
			   
				  -moz-animation:move-background 150s linear infinite;
				 -ms-animation:move-background 150s linear infinite;
				 -o-animation:move-background 150s linear infinite;
				 -webkit-animation:move-background 150s linear infinite;
				 animation:move-background 150s linear infinite;
			   }
			   img{
				 height: 70vh;
				 width:70vh;
				 position: absolute;
				 z-index: 3;
				 right: 20px;
			   }
		}

		#skills{
			position: relative;

			.skill-container{
				position: relative;
				max-width: 900px;
				margin: auto;

				.skill{
					width: 100%;
					margin: 1.2rem 0;
					padding: 1.6rem 5rem;
					border-radius: 30px;
					box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

					@include for-small(){
						margin: 1.5rem 0;
						padding: 1.8rem 6rem;
					}

					@include for-medium(){
						margin: 1.8rem 0;
						padding: 1.8rem 12rem;
					}

					.skill-title{
						font-weight: 700;
						font-size: 1.5rem;
						margin-bottom: 1.2rem;

						@include for-small(){
							margin-bottom: 1.5rem;
							font-size: 1.8rem;
						}
	
						@include for-medium(){
							margin-bottom: 1.8rem;
							font-size: 2rem;
						}
					}

					h4{
						font-size: 1.4rem;
						margin-bottom: 0 !important;

						@include for-small(){
							margin-bottom: 0rem;
							font-size: 1.6rem;
						}
	
						@include for-medium(){
							margin-bottom: 0rem;
							font-size: 1.6rem;
						}
					}

					.progress-bar{
						background-color: $bgSecondary !important;
					}
				}
			}

		}

		#education, #workexp{

			.educ-timeline{
				max-width: 900px;
				margin: auto;

				.educ-card{
					padding: 5px;
					border-radius: 20px;
					display: flex;
					justify-content: space-between;
					align-items: center;

					@include for-small(){
						padding: 25px;
					}

					@include for-medium(){
						paadding: 10px;
					}

					.cm-icon{
						width: 80px;
						height: 80px;
						padding: 25px;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 50%;
						background: $bgSecondary;
						color: $bgWhite;

						@include for-medium(){
							width: 100px;
							height: 100px;
							padding: 40px;
						}

						.fa, .fas, .fab{
							font-size: 2rem;

							@include for-medium(){
								font-size: 3rem;
							}
						}
					}

					.acad-info{
						padding: 0 25px;
						
						h6{
							font-size: 1rem;
							font-weight: 700;
							margin-bottom: 0;
							color: $bgSecondary;

							@include for-medium(){
								margin-bottom: 5px;
								font-size: 1.5rem;
							}
						}

						.acad-level{
							font-size: 0.8rem;
							font-weight: 700;
							color: $bgColor;
							@include for-medium(){
								font-size: 1rem;
							}
						}

						p{
							font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
							font-size: 0.8rem;
							font-weight: 400;
							color: $bgColor;

							@include for-medium(){
								font-size: 1rem;
							}
						}
					}

				}
			}
		}

		#cert, #projects{
			.cert-container{
				position: relative;
				padding: 1rem 0;
				max-width: 1400px;
				margin: auto;

				@include for-small(){
					padding: 3rem 0;
				}

				@include for-medium(){
					padding: 5rem 0;
				}
				details{
					display: block !important;
					width: 100%;

					summary{
						display: block !important;
					}
				}

				.award-container{
					display: block;
					position: relative;
					cursor: pointer;
					min-height: 280px;

					&:hover .img-description{
						visibility: visible;
						opacity: 1;
					}
	
					.award-img{
						height: 100%;
						width: 100%;
					}
	
					.img-description{
						display: flex;
						text-align: center;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						background: rgba(224, 97, 0, 0.95);
						color: #fff;
						visibility: hidden;
						opacity: 0;
						transition: $transition-all;

						padding: 30px;

						@include for-small(){
							padding: 35px;
						}

						@include for-medium(){
							padding: 40px;
						}

						h5{
							font-family: 'Poppins', sans-serif;
							font-weight: 700;
							font-size: 1.2rem;

							@include for-small(){
								font-size: 1.4rem;
							}
	
							@include for-medium(){
								font-size: 1.8rem;
							}
						}

						span{
							display: block;
							font-size: 0.8rem;
							margin: 5px;
							text-decoration: underline;

							@include for-small(){
								font-size: 0.9rem;
							}
	
							@include for-medium(){
								font-size: 0.8rem;
							}
						}
						

						h6{
							font-family: 'Poppins', sans-serif;
							font-weight: 700;
							font-size: 1.5rem;

							@include for-small(){
								font-size: 1.8rem;
							}
	
							@include for-medium(){
								font-size: 2.2rem;
							}
						}

						p{
							font-weight: 400;
							text-align: justify;
						}

						small{
							font-weight: 400;
							text-align: justify;
						}
					}
				}
				
			}
		}
	}
}

@keyframes showImage{
	from{
		opacity: 0;
		right: -100px;
	}
	to{
		opacity: 1;
		right: 0;
	}
}

@keyframes move-background {
	from {
	  -webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
	  -webkit-transform: translate3d(1000px, 0px, 0px);
	}
  }
  @-webkit-keyframes move-background {
	from {
	  -webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
	  -webkit-transform: translate3d(1000px, 0px, 0px);
	}
  }
  
  @-moz-keyframes move-background {    
	from {
	  -webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
	  -webkit-transform: translate3d(1000px, 0px, 0px);
	}
  }
  
	  @-webkit-keyframes move-background {
	from {
	  -webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
	  -webkit-transform: translate3d(1000px, 0px, 0px);
	}
  }

  @import "timeline";


